VITE_CONTRACT_ADDRESS=CBJCULQ22VVCNB5CDUPWEPODGXKEB2XCEQEICGUEF6LJ7MNLBYOIWD6R
VITE_RPC_ENDPOINT=https://soroban-testnet.stellar.org
# VITE_GRAPH_QL_ENDPOINT=http://localhost:5100/graphql
VITE_GRAPH_QL_ENDPOINT=https://umbraswap-production.up.railway.app/
# VITE_BACKEND_URL=http://localhost:4000
VITE_BACKEND_URL=https://umbra-swap.onrender.com